<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Şifre Değiştirme</title>
</head>
<body style="font-family: Arial, sans-serif; padding: 20px;">
<table align="center" width="700" cellspacing="0" cellpadding="0" border="0"
       style="background: #ffffff; padding: 20px; border: 1px solid #cccccc; border-radius: 10px;">
    <tr>
        <td align="center">
            <!-- LOGO -->
            <img src="https://res.cloudinary.com/dgoothqal/image/upload/v1742384766/Arzu_Amber_Yeni_Logolar_nfchtb.png" alt="logo.png" width="200"
                 style="display: block; margin: auto; max-width: 100%;" />
        </td>
    </tr>
    <tr>
        <td align="center">
            <p style="margin-top: 20px; font-size: 16px; color: #333;">
                Şifrenizi değiştirmek için aşağıdaki butona tıklayınız.
            </p>
        </td>
    </tr>
    <tr>
        <td align="center">
            <!-- BUTTON -->
            <a th:href="${callbackUrl}"
               style="background: #28a745; color: white; border: none; padding: 12px 24px;
                          border-radius: 5px; text-decoration: none; font-size: 16px; display: inline-block;">
                Şifremi Değiştir
            </a>
        </td>
    </tr>
    <tr>
        <td align="center" style="padding: 20px;">
            <small style="color: #666; font-size: 12px; display: block;">
                Butona tıkladığınızda
                <a target="__blank" href="https://arzuamber.com/" style="color: #007bff; text-decoration: none;">arzuamber.com</a>
                websitesine yönlendirileceksiniz. Şifrenizi gerekli alanları doldurup başarılı bir şekilde değiştirebilirsiniz.
            </small>
        </td>
    </tr>
    <tr>
        <td align="center" style="padding-top: 30px;">
            <p style="font-size: 14px; color: #888;">
                Anasayfa 🚀
                <a target="__blank" href="https://arzuamber.com" style="color: #007bff; text-decoration: none;">
                    www.arzuamber.com
                </a>
            </p>
        </td>
    </tr>
</table>
</body>
</html>